/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: #dddddd;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(32, 32, 32);
}

/* TRANSITION */

a,
.btn {
  transition: 300ms ease;
}

/*  Desktop NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}
a:hover {
  color: rgb(241, 93, 8);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(255, 255, 255);
}

.logo {
  font-size: 2rem;
}
.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}
.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: none;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links li {
  list-style: none;
}
.menu-links.open {
  max-height: 300px;
  border-radius: 1rem;
  border: black 1px solid;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
  transition: 300ms ease-in-out;
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
  transition: 300ms ease-in-out;
}
.hambureger-icon span:first-child {
  transform: none;
}

.hambureger-icon span:first-child {
  opacity: 1;
}

.hambureger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 86vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.profile-pic {
  border-radius: 50%;
  border: white 0.5rem solid;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 200;
  color: rgb(243, 69, 11);
}
.section__text__p1 {
  text-align: center;
  font-size: 1rem;
}

.section__text__p2 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICON */

.icon {
  cursor: pointer;
  height: 2rem;
}

.fa-brands {
  padding-top: 2rem;
  color: rgb(0, 0, 0);
}

.fa-brands:hover {
  color: rgb(255, 89, 0);
  transition: all 0.3 ease-in;
}

.fa-solid {
  color: rgb(255, 89, 0);
}

.fa-solid:hover {
  color: black;
}
/*  BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 300;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2px;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(0, 0, 0) 1px solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: none;
  color: rgb(255, 77, 0);
}

.btn-color-2 {
  background: none;
}
.btn-color-1:hover {
  background: none;
  color: rgb(255, 255, 255);
  border: rgb(255, 72, 0) 1px solid;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2px;
  border: rgb(255, 132, 0) 1px solid;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 10px;
  flex: 1;
  /* From https://css.glass */
  background: none;
  border-radius: 8px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px); */
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  color: rgb(0, 0, 0);
}

.section-container {
  gap: 4rem;
  height: 80%;
}

/* PROJECTS */

#projects {
  position: relative;
}

.color-container {
  /* From https://css.glass */
  background: none;
  border-radius: 4px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px); */
  border: 1px solid rgb(0, 0, 0);
}

.project-img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
}

.project-title {
  margin: 2rem;
  color: black;
}
.project-btn {
  color: black;
  border-color: beige;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border: rgb(0, 0, 0) 0.1rem solid;
  border-color: rgb(169, 169, 169);
  background: none;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: large;
}

.contact-info-container a:hover {
  color: rgb(227, 44, 12);
  text-decoration: underline;
  text-decoration-color: rgb(227, 44, 12);
}

.contact-icon {
  cursor: default;
}

/* SECOND PAGE WEBB DESIGN */

#webb-design {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  height: 86vh;
}

.section-container-wd {
  display: flex;
  flex-direction: row;
}

.text-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.title__container {
  padding: 2rem;
  margin-bottom: auto;
}

.title__container p {
  font-size: 16px;
  font-weight: 200;
}

.title__container h1 {
  font-size: 48px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.title__text__p3 {
  padding: 0 2rem;
  color: rgb(254, 67, 15);
  font-weight: 400;
  font-size: 16;
}

.section__text__p3-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0 2rem 2rem;
  font-size: 12px;
}

.pic__container__1 {
  display: flex;
  max-width: 100%;
  padding: 20px;
}
.project-pic {
  object-fit: fill;
  border-radius: 8px;
}

/* FOOTER SECTION */

footer {
  height: auto;
  margin: 0.1rem;
  margin-top: auto;
}

footer p {
  text-align: center;
}
